@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #5b93d4;
  --blue: #3e638e;
  --light-green: #8ed629;
  --dark-green: #799905;
  --green-text: #d2efa9;
  --steam-blue: #1b2838;
  --text: #c5c3c0;
  --dark-blue-glass: rgba(18, 25, 39, 0.65);
  --alert: #e68d19;
  --border: rgba(255, 255, 255, 0.125);
  --dark-transparent: #0c111bb4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--steam-blue);
  color: var(--text);
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  max-width: 1920px;
  margin: auto;
  padding: 0 20px;
  min-height: calc(100vh - 180px);
  background-image: url(https://cdn.cloudflare.steamstatic.com/steam/apps/730/page_bg_generated_v6b.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

.greenButton {
  background-color: var(--dark-green);
  border: none;
  padding: 3px 5px;
  border-radius: 12px;
  color: var(--green-text);
  text-shadow: 1px 1px 1px black;
  font-weight: 600;
  cursor: pointer;
}
.inputError {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
.inputError svg {
  color: var(--alert);
}